/* 폰트 설정 */
@font-face {
    font-family: 'Eulyoo1945';
    src: url('fonts/Eulyoo1945-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 기본 설정 */
body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Eulyoo1945', serif;
    background-color: #ffffff;
    color: #000000;
}

/* 헤더 설정 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    box-sizing: border-box;
}

.logo {
    width: 32px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

/* 메뉴 */
.menu-icon {
    cursor: pointer;
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-right: 1rem;

}
.menu {
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: #c00000;
    padding: 0.3rem;
    border: 1px solid #000000;
    display: none;
    flex-direction: column;
}
.menu a {
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    color:#000000;
    text-decoration: none;
}
.menu a:hover {
    color:aqua;
}



/* 메인 콘텐츠 */
main {
    padding: 2rem;
    flex: 1;
}

/* footer 스타일 */
footer {
    font-family: 'Pretendard', sans-serif;
    font-size: 10pt;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    font-weight: 100;
    margin-top: auto;
}
